$clrBg1: #1C1C1C;
$clrBg2: #262626;
$clrBg3: #E7FC6E;
$clrBlue: #7B79F7;
$clrText: #ffffff;
$clrDisable: #353535;
$clrDisableText: #8A8A8A;
$clrBlue2: #262626;
$clrBlue3: #3950A4;
$clrBlue4: #56CCF2;
$clrBlue6: #55BCC0;
$clrOrange: #F2994A;
$clrYellow: #FED955;
$clrGreen: #05D864;
$clrBlue5: #716fe4;
$clrNavHover: #807EFF;
$clrInputError: #e54369;
$clrTextError: #CC123F;

$headerHeight: 80px;
$footerHeight: 48px;

$containerWidth: 1680px;
$containerMiniWidth: 998px;
$containerSidePadding: 0px;