$clrBg1: #221B47;
$clrBg2: #181235;
$clrBlue: #7B79F7;
$clrText: #ffffff;
$clrDisable: #48485C;
$clrBlue2: #312570;
$clrBlue3: #3950A4;
$clrBlue4: #56CCF2;
$clrOrange: #F2994A;
$clrYellow: #FED955;
$clrBlue5: #716fe4;
$clrNavHover: #807EFF;
$clrInputError: #e54369;
$clrTextError: #CC123F;

$headerHeight: 80px;
$footerHeight: 48px;

$containerWidth: 1680px;
$containerMiniWidth: 995px;
$containerSidePadding: 0px;